<footer class="bg-black text-white ">
    <div class="flex flex-row h-40 p-4">
        <div class="w-1/2 pr-4 text-xl my-auto">
            This is a mini project specifically designed just to practice and explore the workings of Express.js with EJS.
            <br>
            This project is not intended for production use and is purely for educational purposes.
        </div>
        <div class="w-1/2 pl-10 my-auto text-3xl font-bold">
            <div class="mb-3">
                <a href="https://www.linkedin.com/in/muhammad-ausaja-hussain-829135317">
                    <i class="fa-brands fa-linkedin"></i> LinkedIn
                </a>
            </div>
            <div>
                <a href="https://github.com/MuhammadAusajaHussain/">
                    <i class="fa-brands fa-github"></i> GitHub
                </a>
            </div>
        </div>
    </div>
</footer>