<header class="bg-black text-white">
    <nav class="flex flex-row  py-4 px-4 items-center">
        <div class="flex-1 text-4xl font-bold">
            Mini Project
        </div>
        <div class="flex flex-row ltr">
            <div class="pe-3 hover:underline">
                <form action="/home" method="get">
                    <button>Home</button>
                </form>
            </div>
            <div class="pe-3 hover:underline">
                <form action="/fruits" method="get">
                    <button>Fruits</button>
                </form>
            </div>
            <div class="pe-3 hover:underline">
                <form action="/superheros" method="get">
                    <button>Superheros</button>
                </form>
            </div>
            <div class="pe-3 hover:underline">
                <form action="/users" method="get">
                    <button>Users</button>
                </form>
            </div>
        </div>
        
    </nav>
</header>